:root {
    --blue: #3367d6;
    --White:white;

    --leter-1: "Roboto", sans-serif;
    
    font-size: 16px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: white;
}

/* Estilos del navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 1.5rem 5rem;
    font-family: var(--leter-1);
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.35);
    transition: box-shadow;
    
    position: fixed;
    width: 100%;
}

.navbar:hover{
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
} 

.menu{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    left: 0;
    width: 100%;
    top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 2rem;

    transform: translateX(200%);
    transition: transform 0.5s;
}

.menu_show{
    transform: translateX(0);
}

.iconMenu{
    cursor: pointer;
}

/* Estilos del home */
.home, .content-home{
    background: rgba(0, 0, 0, 0.7) url(./image/image-code2.png);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: darken;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.info-home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    gap: 0.5rem;
    color: var(--White);
    font-family: var(--leter-1);
}

.title-home-secondary{
    color: var(--blue);
}

.img-home{
    height: 240px;
    width: 240px;
    border-radius: 100%;
    overflow: hidden;
}

.img-home img{
    width: 100%;
}

/* Estilos del about */
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding: 4rem 1.5rem;
    text-align: left;
}

/* Estilos de skills */
.skills, .info-skills, .content-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.skills{
    padding: 4rem 1.5rem;
}

.skills img{
    height: 150px; 
    width: 150px;
    border-radius: 1rem;
    box-shadow: 8px 8px 8px gray;
}

/* Estilos de studies */
.studies, .info-studies {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 1.5rem;
}

.info-studies img{
    width: 12rem;
    height: 12rem;
    border-radius: 1rem;
    background-color: rgba(128, 128, 128, 0.1)
}

/* Estilos de contact */
.contect-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6rem;
}

.contact{
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.contect-contact img{
    width: 3rem;
    height: 3rem;
}

.content-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Estilos footer */
.info-footer, .link-footer-repo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 0.2rem;
    background-color: #0F3460;
    color: var(--White);
}


@media (min-width: 840px) {

    .iconMenu{
        display: none;
    }

    .menu{
        position: static;
        width: auto;
        background-color: transparent;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 2rem;
    }



    .home, .content-home{
        display: flex;
        flex-direction: row;
        gap: 2rem;
    }

    .img-home{
        height: 260px;
        width: 260px;
        border-radius: 100%;
        overflow: hidden;
    }

    .info-home{
        font-family: var(--leter-1);
        display: flex;
        gap: 0.5rem;
        color: var(--White);
    }

    .title-home-primary{
        font-size: 3rem;
    }

    .title-home-secondary{
        font-size: 4rem;
        color: var(--blue);
    }

    .title-home-tertiary{
        font-size: 3rem;
    }

    .content-center{
        display: grid;
        grid-template-columns: repeat(2, 1fr)

    }

    .content-skills{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 8rem;
    }

    .about{
        gap: 3rem;
        text-align: left;
        font-family: var(--leter-1);
        padding: 4rem 1.5rem;
    }

    .studies{
        display: flex;
        align-items: flex-start;
        padding: 4rem 3.5rem;
    }

    .content-studies{
        display: flex;
        gap: 16rem;
        padding-top: 3rem;
    }

    .contact{
        display: flex;
        align-items: flex-start;
        padding: 4rem 3.5rem;
    }

}